body{
	margin:40px 5px;
	font-size:100%;
}
h1{
	font-weight:800;
	font-size:1.6em;
	margin-bottom:0px;
}
hr{
	border:1px solid #B0B0B0;
}
.hr1{
	margin-top:0px;
}
.pagebutton{
	margin-top:20px;
	height:28px;
	width:240px;
}
.button1{
	padding-top:.1em;
	height:25px;
	width:100px;
	border:1px solid #E3E3E3;
	background-color:#F3F3F3;
	float:left;
	margin-right:30px;
	text-align:center;
}
.button1 a{
	text-decoration:none;
	color:black;
	font-size:.7em;
}
.button2{
	padding-top:.1em;
	height:25px;
	width:100px;
	border:1px solid #E3E3E3;
	background-color:#F3F3F3;
	float:left;
	text-align:center;
}
.button2 a{
	text-decoration:none;
	color:black;
	font-size:.7em;
}
.hr2{
	margin-top:20px;
	margin-bottom:20px;
}
h2{	
	color:black;
	font-size:.9em;
	font-weight:bold;
}
p{
	font-size:.8em;
	line-height:1.5em;
}
#color1{
	color:#F4A283;
}
b{
	font-size:.7em;
}
.demo{
	margin-top:10px;
	border:1px solid #D5D5D0;
	background-color:#F5F5F6;
	padding-left:15px;
	padding-top:0px;
}
.try{
	margin-top:10px;
	background-color:#F98D8A;
	width:85px;
	height:22px;
	color:#FFFFFF;
	font-size:.8px;
	text-align:center;
	padding-top:.5em;
	
}
.try a{
	color:#fff;
	text-decoration:none;
}
li{
	line-height:1.5em;
	font-size:.8em;
}
sub{
	width: 100px;
	h10p
	height: 10%;
	m5e
	margin: 5em;
	
}
@f
@font-face {
	font-family:;
	src:url();
}
@f+
@font-face {
	font-family: 'FontName';
	src: url('FileName.eot');
	src: url('FileName.eot?#iefix') format('embedded-opentype'),
		 url('FileName.
		 	@f+woff') format('woff'),
		 url('FileName.ttf') format('truetype'),
		 url('FileName.svg#FontName') format('svg');
	font-style: normal;
	font-weight: normal;
}
trs
-webkit-transition: prop time;
-o-transition: prop time;
transition: prop time;