*{ margin: 0; padding: 0; text-decoration: none; }
#container{ width: 600px; height: 400px; position:relative; overflow: hidden; margin: 50px auto; }
#list{ width: 4200px; height: 400px; position: absolute; z-index: 1; }
#list img{ float: left; }
#buttons{ position: absolute; height: 10px; width: 100px; z-index: 2; bottom: 20px; left: 250px; }
#buttons span{ height: 10px; width: 10px; border: 1px solid #fff; border-radius: 50%; background: #333; float: left; cursor: pointer; margin-left: 5px; }
#buttons .on{ background: orangered; }
.arrow{ display: none; height: 40px; width: 40px; background: rgba(0,0,0,.3); text-align: center; line-height: 40px; font-size: 36px; font-weight: bold; color: #fff; cursor: pointer; position: absolute; z-index: 2; top: 180px; }
.arrow:hover{ background: rgba(0,0,0,.7); }
#container:hover .arrow{ display: block; }
#prev{ left: 20px; }
#next{ right: 20px; }