/*opacity: .8; 透明度*/
.head_wrap{ background-color: #000; opacity: .8;/*透明度*/ text-align: center; }
.logo{ /*text-align: center;*/ padding: 10px 0; }
/*vertical-align: top; 解决图片底部2px误差*/
.logo img{ height: 44px; vertical-align: top; }
.nav{ /*text-align: center; */ /*color: white;*/ padding-bottom: 5px; }
/*左右同等元素下*/
.nav a{ background: -red; color: silver; margin: 0 60px; font-size: 14px; }
.nav a:hover{ color: white; }
/*main*/
/*居中 margin*/
.main{ width: 810px; /*background: red;*/ margin: 0 auto; padding-top: 15px;/*上边距*/ }
.banner{ width: 100%; }
.banner img{ width: 100%; vertical-align: top; }
.info{ font-size: 14px; text-indent: 2em; padding-top: 15px; padding-bottom: 15px; border-top: 1px solid gray; border-bottom: 1px solid gray; line-height: 20px; margin-top: 8px; }
.logos{ text-align: center; margin-top: 8px; }
.logos img{ width: 55px; margin: 0 6px; vertical-align: top; }
/*contant*/
.contant{  }
/*a标签嵌套img,span 修改元素性质:inline-block*/
.contant a{ width: 260px; display: inline-block; border-radius: 5px; overflow: hidden; }
.contant img{ width: 100%; vertical-align: top; }
.center{ margin: 0 0px; }
.contant span{ width: 100%; text-align: center; color: #999; font-size: 16px; background-color: red; display: block; padding: 8px 0px; }
.contant div{ padding: 15px 0; }
.footer{ background: #e0e0e0; text-align: center; padding: 10px 0; }
.footer div{ display: inline-block; }
.footer img{ width: 133px; }
.link{ vertical-align: top; }
.contact_us{ text-align: left; border-left: 1px solid #BCBCBC; padding-left: 8px; font-size: 14px; }
.contact_us p{ padding-top: 5px; }